@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

$text-area-font: "Ubuntu", sans-serif;

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-openModal {
  background: #845ec2;
  color: #eee;
  font-size: 1rem;
  margin: 2rem;
  padding: 1rem 1.8rem;
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}

.ui-input-container {
  background-color: #f1f1f1;
  padding: 3rem;
  border-radius: 4px;
  width: 100%;
  margin: 0 auto;
}
.ui-input-container h2 {
  font-family: sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: capitalize;
  font-family: $text-area-font;
}
.ui-form-input-container {
  position: relative;
  font-size: 1rem;
  margin-bottom: 15px;
  display: block;
}
.ui-form-input {
  padding: 13px 15px;
  border-radius: 8px;
  border: 2px solid #1a73e8;
  outline: 0;
  width: 100%;
  font-size: 18px;
}

.form-input-label {
  position: absolute;
  top: -7px;
  left: 10px;
  color: #1a73e8;
  font-size: 0.85rem;
  padding-right: 0.33rem;
  padding-left: 0.33rem;
  background: #fff;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  font-family: sans-serif;
  text-transform: capitalize;
}

.ui-form-btn {
  padding: 13px 15px;
  border-radius: 8px;
  background: #1a73e8;
  outline: 0;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  font-weight: 500;
}

.error .ui-form-input,
.error .form-input-label {
  border-color: #d50000;
  color: #d50000;
}

textarea {
  min-height: 6em;
  max-height: 50vh;
  width: 100%;
}

.modal-wrapper {
  background: #fff;
  width: 80%;
  max-width: 800px;
  margin: 4rem auto;
  transition: all 500ms ease-in-out;
}

.modal-header {
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #e9e9e9;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header span {
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content {
  padding: 1.5rem 1rem;
}

.modal-body {
  margin-bottom: 1rem;
}

.modal-body h4 {
  font-size: 1.8rem;
  color: #dd501d;
}

.modal-body p {
  font-size: 1rem;
  background: #eee;
  color: #333;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
}

.modal-footer button {
  display: block;
  font-size: 1rem;
  margin-left: auto;
  padding: 0.5rem 1.8rem;
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #fff;
  border: none;
  outline: none;
  margin-top: 8px;
  cursor: pointer;
}

.back-drop {
  background: rgba(63, 61, 61, 0.692);
  height: 1000%;
  position: fixed;
  transition: all 600ms ease-in-out;

  width: 1000%;
}
